<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/comments" method="POST">
        <label for="user">Username:</label>
        <input type="text" id="user" name="username" required>

        <label for="user">Comment:</label>
        <input type="text" id="user" name="comment" required> 

        <input type="submit" value="Add comment">
    </form>
</body>
</html>